<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>桃小仙-软件推荐管理</title>
<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">

<!-- 最新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
<style>
/* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: 40px;
      color: #5a5a5a;
    }
</style>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="span12">
      {% if form.errors %}
          <p >Sorry, that's not a valid username or password</p>
        {% endif %}
    </div>
  </div>

	<div class="row">
    <div class="span12">
      <form action="" method="post">
      {% csrf_token %}
        <div class="control-group">
          <label class="control-label" for="username">用户名</label>
          <div class="controls">
            <input type="text" name="username" placeholder="用户名">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password">密码</label>
          <div class="controls">
            <input type="password" name="password" placeholder="password">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">登陆</button>
          </div>
        </div>
      </form>
    </div>
	</div>
</div><!-- /.container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
