<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>画报-广告管理</title>
</head>
<body>
<form action="/admin/ads_manager_remove?appcode={{ appcode }}" method="post">
	<table border='1'>
		<tr>
			<td align='center'> </td>
			<td align='center'><strong>广告名称</strong></td>
			<td align='center'><strong>图片地址</strong></td>
			<td align='center'><strong>广告类型</strong></td>
			<td align='center'><strong>广告标识</strong></td>
			<td align='center'><strong>排序</strong></td>
			<td align='center'><strong>软件id</strong></td>
		</tr>
		
		{% for ad in adver_list %}
		<tr>
			<td><input type="radio" name="id" value="{{ad.id}}"/></td>
			<td>{{ad.title}}</td>
			<td>{{ad.picUrl}}</td>
			<td>{{ad.adType}}</td>
			<td>{{ad.adIdentifier}}</td>
			<td>{{ad.order}}</td>
			<td>{{ad.app.name}}</td>
		</tr>
		{% endfor %}
		
	</table>
	<input type="submit" value="删除">
</form>
	<br>
	{% if form.errors %}
		<p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
        {% for error in form.errors %}
            <li><strong>{{ error }}</strong></li>
        {% endfor %}
	{% endif %}
	<br>
	<form action="/admin/ads_manager?appcode={{ appcode }}" method="post">
		<table>
		{{ form.as_table }}
		<tr>	
      		<td ><input type="submit" value="提交"></td>
      		<td ><a href="./">返回</a></td>
      	</tr>
		</table>
    </form>
</body>
</html>
