<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>画报-淘客链接管理</title>

<!-- 最新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
<style type="text/css" media="screen">
.title{ max-width:300px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

body {
	background-color: #f1f1f1;
    margin-top: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
</style>

</head>
<body>

	<div class="container">
    	<div class="row">
    		<div class="col-md-3">
				<div class="list-group" style="width:200px" data-spy="affix" data-offset-top="0" role="complementary" >
				  <a href="#" class="list-group-item active">
				  	管理列表
				  </a>
				  <a href="/admin/taokeitem_manager_add_item?appcode={{appcode}}" class="list-group-item">添加链接</a>
				  <a href="/admin/taokeitem_manager_sort?appcode={{ appcode }}" class="list-group-item">排序</a>
				</div>
			</div>
			<div class="col-md-9" role="main">
				<table border='1'>
					<tr>
						<td align='center'> </td>
						<td align='center'><strong>宝贝图片</strong></td>
						<td align='center'><strong>宝贝id</strong></td>
						<td align='center'><strong>宝贝名称</strong></td>
						<td align='center'><strong>发布状态</strong></td>
						<td align='center'><strong>宝贝详情</strong></td>
						<td align='center'><strong>排序</strong></td>
						<td align='center'><strong>所属分类</strong></td>
					</tr>
					
					{% for item in customItemList %}
					<tr>
						<td><input type="radio" name="id" value="{{item.id}}"/></td>
						<td><img src='{{item.pic_path}}_100x100.jpg' width='100px' height='100px'/></td>
						<td>{{item.taoke_num_iid}}</td>
						<td>{{item.taoke_title}}</td>
						<td>{{item.state}}</td>
						<td><a class='title' href='{{item.taoke_url}}' target='_blank'><div class="title">{{item.taoke_url}}</div></a></td>
						<td>{{item.order}}</td>
						<td>{{item.categoary.title}}</td>
					</tr>
					{% endfor %}
					
				</table>
			</div>


	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
