<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>画报-淘客链接管理</title>

<!-- 最新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
<link href="/stylesheets/jquery.gridly.css" rel="stylesheet" type="text/css" />

<style type="text/css">
	body {
		background-color: #f1f1f1;
    	margin-top: 20px;
    	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

  .gridly {
    position: relative;
    width: 960px;
  }
  .brick.small {
    width: 140px;
    height: 140px;
    text-align: center;
  }
  .brick.large {
    width: 300px;
    height: 300px;
  }
  
  .title{ 
  	max-height:50px;
  	max-width:120px; 
  	overflow:hidden; 
  	/*text-overflow:ellipsis;*/
  	font-weight: 200;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
  }

  .img_class{
  	border: 1px solid #e5e5e5;

  }
</style>

</head>
<body>
	<div class="container">
    	<div class="row">
    		<div class="col-md-3">
				<div class="list-group" style="width:200px" data-spy="affix" data-offset-top="0" role="complementary" >
				  <a href="/admin/taokeitem_manager?appcode={{ appcode }}" class="list-group-item">
				  	管理列表
				  </a>
				  <a href="/admin/taokeitem_manager_add_item?appcode={{appcode}}" class="list-group-item">添加链接</a>
				  <a href="#" class="list-group-item active">排序</a>
				</div>
			</div>
			<div class="col-md-9" role="main">

				<div class="gridly">
					{% for item in customItemList %}
				  	<div class="brick small">
				  		<div id="item_id" style="display:none">{{item.id}}</div>
				  		<div id="item_order" style="display:none">{{item.order}}</div>

				  		<div class="img_class"><img src='{{item.pic_path}}_100x100.jpg' width='100px' height='100px'/></div>
				  		<div class="title">{{item.taoke_title}}</div>
				  	</div>
				  	{% endfor %}

				</div>

				<div id="updateOrder" style="margin-top: 20px;">
					<input id="updateBtn" type="button" value="update"/>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="/javascripts/jquery.gridly.js" type="text/javascript"></script>

	<script type="text/javascript">
		var need2UpdateArray = new Array();

		var reordering = function($elements) {
		  // Called before the drag and drop starts with the elements in their starting position.
		  // alert($elements.length);
		};

		var reordered = function($elements) {
		  	// Called after the drag and drop ends with the elements in their ending position.
		  	need2UpdateArray = new Array();
			$elements.each(function() {
			    // alert($(this).find('#item_id').text() + "  " + $(this).find('#item_order').text() + "  " + $(this).data('position'));
			    var itemId = $(this).find('#item_id').text();
			    var itemOldOrder = parseInt($(this).find('#item_order').text());
			    var itemCurrOrder = parseInt($(this).data('position'));

			    if(itemOldOrder != itemCurrOrder){
			    	var item = {};
			    	item['item_id'] = itemId;
			    	item['currOrder']= itemCurrOrder;
			    	need2UpdateArray.push(item);
			    }

			});
		};

		$('.gridly').gridly({
			base: 60, // px 
			gutter: 20, // px
			columns: 9,
			callbacks: { reordering: reordering , reordered: reordered }
		});

	  	
		$(document).ready(function(){
			//绑定按钮点击事件
			$("#updateBtn").click(function(){
				var jqxhr = $.post("/admin/taokeitem_manager_update_order/"+{{appcode}}+"/", 
						"jsonStr="+JSON.stringify(need2UpdateArray),// $("#registForm").serialize(),
						function(data,textStatus, jqXHR) {
							alert(textStatus);
							//服务器返回请求结果
							switch(data["result_code"]){
								case 208://get result！！
									// //隐藏进度条，显示绑定成功提示
									// // alert("result_code: "+eval(data["result_code"])+"     msg: "+data["msg"]);
									// $("#waitingModal").modal("hide");
									// $("h4#resultModalLabel").text("绑定成功");
									// $("#resultModal").modal("show");
									break;
								case 308://get result！！
									// //隐藏进度条，显示绑定成功提示
									// // alert("result_code: "+eval(data["result_code"])+"     msg: "+data["msg"]);
									// $("#waitingModal").modal("hide");
									// $("h4#resultModalLabel").text("该帐号已绑定成功！");
									// $("#resultModal").modal("show");
									break;
								default:
									// //TODO:隐藏进度条，显示绑定失败提示，请重试
									// $("#waitingModal").modal("hide");
									// $("h4#resultModalLabel").text("绑定失败，请重试");
									// $("#resultModal").modal("show");
									break;
							}
						});
				//请求失败
				jqxhr.error(function() { 
					alert("error"); 
					// //隐藏进度条，显示绑定失败提示，请重试
					// $("#waitingModal").modal("hide");
					// $("h4#resultModalLabel").text("绑定失败，请重试");
					// $("#resultModal").modal("show");
				});
			});
		});

	</script>
	
</body>
</html>
