<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>画报-淘客链接管理</title>

<!-- 最新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
<style type="text/css" media="screen">
	body {
        background-color: #f1f1f1;
        margin-top: 20px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding-top: 70px;
      }

    .center_body{

    }

      .footer {
      	margin-top: 29px;
		padding-top: 19px;
		color: #777;
		border-top: 1px solid #e5e5e5;
	  }

	 
</style>

</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" style="vertical-align: middle;height:18px" role="navigation">
		<ol class="breadcrumb" style="padding-top:15px;">
		  <li><a href="/admin/">主页</a></li>
		  <li><a href="/admin/albunm_manager?appcode={{appcode}}">图集管理</a></li>
		  <li class="active">淘客链接管理</li>
		</ol>
	</nav>
	<div class="container">
    	<div class="row">
    		<div class="col-md-3">
				<div class="list-group" style="width:200px" data-spy="affix" data-offset-top="0" role="complementary" >
				  <a href="/admin/taokeitem_manager?appcode={{ appcode }}&albunm_id={{albunmId}}" class="list-group-item">
				  	管理列表
				  </a>
				  <a href="#" class="list-group-item active">添加链接</a>
				  <a href="/admin/taokeitem_manager_sort?appcode={{ appcode }}&albunm_id={{albunmId}}" class="list-group-item">排序</a>
				</div>
			</div>
			<div class="col-md-9" role="main">
				<div class="center_body">
					<form action="/admin/taokeitem_manager_add_item?appcode={{appcode}}" name="taokeItemAddForm" id="taokeItemAddForm" method="post" class="form-horizontal" role="form">
						{{ form.non_field_errors }}
						<div class="form-group">
							{{ form.num_iid.errors }}
							<label for="num_iid" class="col-sm-2 col-md-2 control-label">{{ form.num_iid.label }}</label>
							<div class="col-md-4 col-sm-4">
								<input type="text" class="form-control" id="{{ form.num_iid.html_name }}" name="{{ form.num_iid.html_name }}" placeholder="{{ form.num_iid.label }}" 
								value="{{ form.num_iid.value|default:""}}"/>
							</div>
							<button type="button" id="fetchBtn" class="btn btn-link">抓取</button>
						</div>

						<div class="form-group">
							{{ form.pic_path.errors }}
							<label for="pic_path" class="col-sm-2 col-md-2 control-label">{{ form.pic_path.label }}</label>
							<div class="col-md-4 col-sm-4">
								<input type="text" class="form-control" id="{{ form.pic_path.html_name }}" name="{{ form.pic_path.html_name }}" placeholder="{{ form.pic_path.label }}" 
								value="{{ form.pic_path.value|default:""}}"/>
							</div>
						</div>

						<div class="form-group">
							{{ form.taoke_title.errors }}
							<label for="taoke_title" class="col-sm-2 col-md-2 control-label control-label">{{ form.taoke_title.label }}</label>
							<div class="col-md-4 col-sm-4">
								<input type="text" class="form-control" id="{{ form.taoke_title.html_name }}" name="{{ form.taoke_title.html_name }}" placeholder="{{ form.taoke_title.label }}" 
								value="{{ form.taoke_title.value|default:""}}"/>
							</div>
						</div>

						<div class="form-group">
							{{ form.taoke_price.errors }}
							<label for="{{ form.taoke_price.html_name }}" class="col-sm-2 col-md-2 control-label control-label">{{ form.taoke_price.label }}</label>
							<div class="col-md-4 col-sm-4">
								<input type="text" class="form-control" id="{{ form.taoke_price.html_name }}" name="{{ form.taoke_price.html_name }}" placeholder="{{ form.taoke_price.label }}" 
								value="{{ form.taoke_price.value|default:""}}"/>
							</div>
						</div>

						<div class="form-group">
							{{ form.pic_desc.errors }}
							<label for="{{ form.pic_desc.html_name }}" class="col-sm-2 col-md-2 control-label control-label">{{ form.pic_desc.label }}</label>
							<div class="col-md-4 col-sm-4">
								<input type="text" class="form-control" id="{{ form.pic_desc.html_name }}" name="{{ form.pic_desc.html_name }}" placeholder="{{ form.pic_desc.label }}" 
								value="{{ form.pic_desc.value|default:""}}"/>
							</div>
						</div>

						<div class="form-group">
							{{ form.taoke_url.errors }}
							<label for="taoke_url" class="col-sm-2 col-md-2 control-label control-label">{{ form.taoke_url.label }}</label>
							<div class="col-md-4 col-sm-4">
								<input type="text" class="form-control" id="{{ form.taoke_url.html_name }}" name="{{ form.taoke_url.html_name }}" placeholder="{{ form.taoke_url.label }}" 
								value="{{ form.taoke_url.value|default:""}}"/>
							</div>
						</div>

					<!-- 	<div class="form-group">
							{{ form.categoary_id.errors }}
							<label for="categoary_id" class="col-sm-2 col-md-2 control-label control-label">{{ form.categoary_id.label }}</label>
							<div class="col-md-4 col-sm-4">
								{{ form.categoary_id }}
							</div>
						</div> -->

						<div class="form-group">
							{{ form.albunm_id.errors }}
							<label for="albunm_id" class="col-sm-2 col-md-2 control-label control-label">{{ form.albunm_id.label }}</label>
							<div class="col-md-4 col-sm-4">
								{{ form.albunm_id }}
								<!-- <button type="button" id="newAlbunmBtn" class="btn btn-link" data-toggle="modal" data-target="#myModal">新建图集</button> -->
							</div>
						</div>
						

						<div class="col-md-offset-4 col-sm-offset-4">
							<button type="submit" id="submitBtn" class="btn btn-primary">保存</button>
							<button type="reset" class="btn btn-link">重置</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">新建图集</h4>
			</div>
			<form action="#" name="albunmForm" id="albunmForm" method="post" class="form-horizontal" role="form">
			<div class="modal-body">
				<div class="form-group">
					<label for="categoary_id" class="col-sm-2 col-md-2 control-label control-label">图集名称</label>
					<div class="col-md-4 col-sm-4">
						<input type="text" class="form-control" id="albunm_name" name="albunm_name" placeholder="图集名称"/>
					</div>
				</div>
			</div>
			</form>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="addAlbunmBtn">Save changes</button>
			</div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script type="text/javascript">

	$(document).ready(function(){
		$("#id_albunm_id").prop('selectedIndex',0);

		//绑定按钮点击事件
		$("#fetchBtn").click(function(){
			var _nAjaxTimeout = 5 * 10000;

			$.ajax({
				type: "GET",
				url:"/admin/taokeitem_manager_fetch_item_detail/"+$('#num_iid').val()+"/",
				dataType: "json",
				cache: false,
				timeout: _nAjaxTimeout,
				success: function(data, textStatus, jqXHR) {
					// alert(eval(data["result_code"])+data["msg"]);
					// alert(textStatus);
					// alert(eval(jqXHR));

					switch(data["result_code"]){
						case 208://get result！！
							// alert("result_code: "+eval(data["result_code"])+"     msg: "+data["msg"]);
							var total_results = data["tbk_items_detail_get_response"]["total_results"];
							if(total_results > 0){
								var tbk_item = data["tbk_items_detail_get_response"]["tbk_items"]["tbk_item"][0];
								$("#taoke_title").val(tbk_item["title"]);
								$("#pic_path").val(tbk_item["pic_url"]);
								$("#taoke_price").val(tbk_item["price"]);
							}

							break;
						
						default:
							alert("result_code: "+eval(data["result_code"])+"     msg: 抓取失败");
							break;
					}
				},
				error: function(jqXHR, textStatus, errorThrown) {
					alert(textStatus);
					
				}
			});
		});

		//绑定按钮点击事件
		$("#addAlbunmBtn").click(function(){
			var _nAjaxTimeout = 5 * 10000;

			var jqxhr = $.post("/admin/taokeitem_manager_add_albunm", 
						$("#albunmForm").serialize(),
						function(data,textStatus, jqXHR) {
							
							//服务器返回请求结果
							switch(data["result_code"]){
								case 200://get result！！
									$("#myModal").modal("hide");
									window.location.reload();
									break;
								default:
									alert(data["result_code"]);
									break;
							}
						});
			//请求失败
			jqxhr.error(function() { 
				alert("添加失败"); 
			});
		});
	});

	</script>
	
</body>
</html>
